{% extends 'base.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <div class="container" style="margin-bottom: 180px; padding-top: 20px;">
        <div class="row">
            <div class="col-4 offset-4">
                <h1>Se connecter</h1>
                {% if error %}
                    <!-- Display translated error message when login fail :  -->
                    <div class="alert alert-danger">
                        {{ error.messageKey | trans(error.messagedata, 'security') }}
                    </div>
                {% endif %}

                {{ form_start(form) }}
                {{ form_row(form.username, {'full_name': '_username'}) }}
                {{ form_row(form.password, {'full_name': '_password'}) }}

                <button class="btn btn-primary">Se connecter</button>

                {{ form_end(form) }}

            </div>
        </div>

    </div>

{% endblock %}
