{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-4 offset-4">
                <h1>S'inscrire</h1>

                {{ form_start(registrationForm) }}

                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.firstname) }}
                {{ form_row(registrationForm.lastname) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.password) }}

                <button class="btn btn-primary">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>

    </div>
{% endblock %}
