{% extends 'base.html.twig' %}

{% block title %}Page d'accueil{% endblock %}

{% block body %}
    <style>

        .card:hover{
            background-color: rgba(100, 100, 100, 0.2);
            border: rgba(0,0,0,0.3) solid 1px;
        }


        /* Style for the like button */
        .alreadylike{
            opacity: 0.8!important;
            color: #de1111!important;
        }

        .btn{
            color: currentColor;
            cursor: not-allowed;
            opacity: 0.85;
        }
        .isDisabled:hover, .isDisabled:focus, .like:hover, .like:focus{
            opacity: 0.8;
            color: #de1111;
        }
        .btn span.whoLike{
            position: absolute;
            bottom: 50px;
            width: 250px;
            margin-top:auto;
            margin-left:auto;
            color: #FFF;
            background: rgba(0,0,0,.99);
            padding: 12px;
            border-radius: 3px;
            box-shadow: 0 0 2px rgba(0,0,0,.75);
            transform: scale(0) rotate(-12deg);
            transition:all .35s;
        }
        .btn:hover span.whoLike, .btn:focus span.whoLike{
            transform : scale(1) rotate(0);
        }

    </style>


        {# The User is invited to log in to like/write a comment : #}
        <div class="jumbotron" style="margin-top: 15px;">
            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                <p class="lead">
                    <strong>Vous voilà de retour !</strong> Vous pouvez laisser un commentaire en cliquant juste en dessous !
                    <br>
                    Sinon vous pouvez simplement vous <a href="{{ path('logout') }}">déconnecter</a>.
                </p>
                <a class="btn btn-lg btn-primary" href="#leaveComment" role="button">Laisser un commentaire &raquo;</a>
                {% else %}
                    <h1>Bienvenue</h1>
                    <p class="lead">
                    <strong>Vous voici enfin sur ma page !</strong> Si vous possedez un compte veillez vous <a href="{{ path('login') }}">connecter</a> pour liker ou créer un commentaire.
                    <br>
                    Sinon vous pouvez vous inscrire en cliquant juste en dessous !
                    </p>
                    <a class="btn btn-lg btn-primary" href="{{ path('app_register') }}" role="button">M'inscrire &raquo;</a>
            {% endif %}
        </div>

    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                {% for comment in comments %}
                    <div class="card" style="margin-bottom: 5px; margin-top: 5px;">
                        <div class="card-body" id="commentaire_{{ comment.id }}">
                            <blockquote class="blockquote mb-0">
                                <p>
                                    {{ comment.text }}
                                </p>
                                <footer class="blockquote-footer">Publié par <strong>{{ comment.author.username }}</strong></footer>
                            </blockquote>
                        </div>
                        <div class="card-footer text-muted">
                            le {{ comment.date|date('d-m-Y H:i') }}

                            {# Like button displays depending on how many like the comment have : #}
                            {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                                <form action="{{ path('likeClicked') }}" method="post">
                                    {% if app.user in comment.whoLikes %}
                                        <!-- Must display in red -->
                                        {% if comment.likenumber > 1 %}
                                            <button name="like" value="{{ comment.id }}" class="btn float-right alreadylike">Vous êtes {{ comment.likenumber }} personnes à aimer ce contenu <span class="fas fa-heart"></span>
                                                    <span class="whoLike">
                                                        {% for user in comment.wholikes %}
                                                            {{ user.username }}<br>
                                                        {% endfor %}
                                                    </span>
                                                </button>
                                        {% else %}
                                            <button name="like" value="{{ comment.id }}" class="btn float-right alreadylike">Vous êtes pour l'instant le seul à aimer ce contenu <span class="fas fa-heart"></span>
                                                    <span class="whoLike">
                                                        {% for user in comment.wholikes %}
                                                            {{ user.username }}<br>
                                                        {% endfor %}
                                                    </span>
                                                </button>
                                        {% endif %}
                                    {% else %}
                                        {% if comment.likenumber > 1 %}
                                            <button name="like" value="{{ comment.id }}" class="btn float-right like">{{ comment.likenumber }} personnes aiment ce contenu <span class="fas fa-heart"></span>
                                                    <span class="whoLike">
                                                        {% for user in comment.wholikes %}
                                                            {{ user.username }}<br>
                                                        {% endfor %}
                                                    </span>
                                                </button>
                                        {% else %}
                                            {% if comment.likenumber < 1 %}
                                                <button name="like" value="{{ comment.id }}" class="btn float-right like">Soyez le permier à aimer ce contenu <span class="fas fa-heart"></span></button>
                                            {% else %}
                                                <button name="like" value="{{ comment.id }}" class="btn float-right like">{{ comment.likenumber }} personne aime ce contenu <span class="fas fa-heart"></span>
                                                    <span class="whoLike">
                                                        {% for user in comment.wholikes %}
                                                            {{ user.username }}<br>
                                                        {% endfor %}
                                                    </span>
                                                </button>
                                            {% endif %}
                                        {% endif %}
                                    {% endif %}
                                </form>
                            {% else %}
                                {% if comment.likenumber > 1 %}
                                    <button class="btn float-right isDisabled">{{ comment.likenumber }} personnes aiment ce contenu <span class="fas fa-heart"></span><span class="whoLike">Vous ne pouvez liker qu'en étant inscrit.</span></button>
                                {% else %}
                                    <button class="btn float-right isDisabled">{{ comment.likenumber }} personne aime ce contenu <span class="fas fa-heart"></span><span class="whoLike">Vous ne pouvez liker qu'en étant inscrit.</span></button>
                                {% endif %}
                            {% endif %}

                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <!-- Comment form -->
    {% if form %}
        <h3 id="leaveComment">Ajouter un commentaire</h3>

        <blockquote class="blockquote">
            <footer class="blockquote-footer">en tant que <cite title="Utilisateur : {{ app.user.username }}">{{ app.user.username }}</cite></footer>
        </blockquote>

        {{ form_start(form) }}
        <div class="form-group">
            {{ form_errors(form.text) }}
            {{ form_widget(form.text, { 'attr':  {
                'rows': '4',
                'class': 'form-control',
                'placeholder': 'Entrez votre commentaire.'
            }}) }}
            <button class="btn btn-primary" style="margin-top: 10px">Publier</button>
        </div>
        {{ form_end(form) }}
    {% endif %}

{% endblock %}