<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="{{ asset("img/testphp-logo.ico") }}">
        <title>TestPHP - {% block title %}Bienvenue !{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        {% endblock %}
    </head>
    <body style="background-color: aliceblue">
        <nav class="navbar navbar-light" style="background-color: #688edd;">
            <a class="navbar-brand" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">TestPHP</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="{{ path('home') }}"><span class="fas fa-home"></span> Accueil</a>
                    {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                        <a class="nav-item nav-link" href="{{ path('logout') }}"><span class="fas fa-door-open"></span> Déconnexion</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{{ path('app_register') }}"><span class="fas fa-pen"></span> Inscription</a>
                        <a class="nav-item nav-link" href="{{ path('login') }}"><span class="fas fa-user"></span> Connexion</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        <div class="container">
            {% block body %}
                <!-- Location of other templates code which extends base.html -->
            {% endblock %}
        </div>

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
        {% endblock %}

        <footer class="page-footer font-small blue pt-4" style="background-color: #688edd;">

            <!-- Footer Links -->
            <div class="container-fluid text-center text-md-left">

                <!-- Grid row -->
                <div class="row">

                    <!-- Grid column -->
                    <div class="col-md-6 mt-md-0 mt-3">

                        <!-- Content -->
                        <h5 class="text-uppercase">TestPHP</h5>
                        {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                            <p>
                                Ce site permet de poster et de liker des commentaires.<br>
                                Vous pouvez vous déconnecter à tout moment <a class="badge badge-secondary" href="{{ path('logout') }}">ici</a> !
                            </p>
                        {% else %}
                            <p>
                                Ce site permet de poster et de liker des commentaires.<br>
                                Vous aussi <a class="badge badge-secondary" href="{{ path('app_register') }}">créez votre compte</a> et commencez à poster !
                            </p>
                        {% endif %}

                    </div>
                    <!-- Grid column -->

                    <hr class="clearfix w-100 d-md-none pb-3">


                    <div class="col-md-3 mb-md-0 mb-3">


                    </div>

                    <div class="col-md-3 mb-md-0 mb-3">
                        <div class="widget clearfix">
                            <h4>En savoir plus</h4>

                            <ul class="list-unstyled">
                                <li><i class="fas fa-chevron-right"></i> <a class="badge badge-primary" href="#apropos">A propos</a></li>
                                <li><i class="fas fa-chevron-right"></i> <a class="badge badge-primary" href="#mentionslegales">Mentions légales</a></li>
                            </ul>

                        </div>


                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row -->

            </div>
            <!-- Footer Links -->

            <!-- Copyright -->
            <div class="copyrights-menu copyright-links nobottommargin vertical-middle text-center" style="background-color: rgba(100,100,100,0.5)">
                <a class="badge badge-dark" href="#">Revenir en haut</a>
            </div>
            <!-- Copyright -->

        </footer>

    </body>
</html>
